.tableList {
    border-collapse: collapse;
    border-left: 3px solid #72aff7;
    border-right: 3px solid #72aff7;
    border-bottom: 3px solid #72aff7;
    font-family: "Lucida Grande", sans-serif;
    margin: auto;
}
.tableList caption {
    background: #8d646d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(198, 217, 247, 0.77);
    color: #a0d2f7;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.tableList td, .tableList th {
    padding: 10px;
}
.tableList th {
    text-align: center;
    font-size: 18px;
}
.tableList tr:nth-child(1n) {
    background: #21b5f7;
}
.tableList tr:nth-child(2n) {
    background: #3ce5a6;
}
.tableList td:last-of-type {
    text-align: center;
}
.tableList form {
    display: inline-block;
    padding: 5px 10px;
    background: #40818d;
    box-shadow: 2px 2px 0 0 rgba(82, 139, 141, 0.54);
    position: relative;
}
.tableList form:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
}